// Colors
$main-color: #F24C00;
$secondary-color: #4F4F4F;
$third-color: #BDBDBD;
$gray-background: #F7F9FA;
$dark-gray: #6A7681;
$light-orange-bg: #FFEEE1;
// Fonts:
$main-font: 'Poppins', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;